<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immediate Server</title>
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body>
    <header>
        <strong>
            Seja bem vindo ao Immediate Dev Server
        </strong>
        <small>
            Servidor imediato para estudos de tecnologias clients
        </small>        
    </header>
    <div class="container">

        <div class="tab">
            <div class="tab-headers">
                <div class="tab-header active" data-tab-content="tab-intro">
                   <a href="">Introdução</a> 
                </div>
                <div class="tab-header" data-tab-content="tab-route">
                    <a href="">Rotas</a> 
                </div>
                <div class="tab-header" data-tab-content="tab-about">
                    <a href="">Sobre</a> 
                </div>
            </div>
            <div class="tab-content active" data-id-content="tab-intro">
                Introdução
            </div>
            <div class="tab-content " data-id-content="tab-route">
                Rotas
            </div>
            <div class="tab-content" data-id-content="tab-about">
                sobre
            </div>
        </div>

    </div>

    <footer>
        <a href="https://github.com/fabiosharp/immediate-dev-server">Made with &#128151; by fabiosharp 2020</a> 
    </footer>

</body>
</html>